extends layout

block content
  div(class='container')
    h1 David Braden
    p Welcome to my site! There's not much here yet...
  
    ul
      a(href='/scale-master/index.html') Audio Visualisation
